.App{
  background-image: url('./images/background.jpg');
  background-size: cover;
  height: 100vh;
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}



select::-ms-expand {
  display: none;
}
.card{
  background: rgba(122, 14, 14, 0.35) !important;

  /* background: rgba(255, 255, 255, 0.35) !important; */
  color: white ;
  text-align: center;
}